.App {
	background-image : url(https://lh3.googleusercontent.com/proxy/RoTXd_2O5apHFpvT0n4lMLOw9pH3g14lXp2fbYOslZL1BOWQm7Egn8UgIhzQcB-TXMOYxIzpGr6XipLL8nbuMxaS2HTmSdl9Z5HmjX8ASxA4OD_Nnd_VzF3adDcwoCcWdXzjQq_O7VNEQ18YvZ7IDxh2wDSHSATJ1Pl-Vja5);
	background-size : cover;
	height : 100vh;
	width : 100vw;
}
.icon-weather {
        font-size : 10rem;
}
h1 {
        font-size : 3rem;
}
h2 {
        font-size : 2.3rem;
}
.form1 {
        background-color : transparent;
        color : white;
}

.form1:focus {
        background-color : transparent;
}
